<h1><%= @player1 %> is ready to play Rock, Paper, Scissors</h1>

<h1><%= @player1 %> it's your turn</h1>

<h1>Enter 'Rock', 'Paper' or 'Scissors'</h1>

<form action = '/play' method = "post">
  <label>Rock
<input type="submit" name="choice" value ="rock">
</label>
</form>

<form action = /play method ="post">
  <label>Paper
  <input type="submit" name="choice" value="paper">
  </label>
</form>

<form action = "/play" method ="post">
  <label>Scissors
  <input type="submit" name="choice" value="scissors">
  </label>
</form>
